wheel==0.38.1
alembic==1.4.2
Brotli==1.0.7
click==7.1.2
dash==1.12.0
dash-bootstrap-components==0.10.2
dash-core-components==1.10.0
dash-html-components==1.0.3
dash-renderer==1.4.1
dash-table==4.7.0
dnspython==1.16.0
dominate==2.5.1
email-validator==1.1.1
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-Compress==1.5.0
Flask-Login==0.5.0
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.3
Flask-WTF==0.14.3
future==0.18.2
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.3
Mako==1.1.3
MarkupSafe==1.1.1
plotly==4.8.1
python-dateutil==2.8.1
python-dotenv==0.13.0
python-editor==1.0.4
retrying==1.3.3
six==1.15.0
SQLAlchemy==1.3.17
visitor==0.1.3
Werkzeug==1.0.1
WTForms==2.3.1
